openapi: 3.1.2
info:
  title: Intra 42 API
  description: |
    This is the OpenAPI specification for the Intra 42 API v2.
  version: 1.0.0
servers:
  - url: https://api.intra.42.fr/v2
    description: Production
  - url: https://api.intra-staging.42.fr/v2
    description: Staging
paths:
  /closes:
    get:
      operationId: getCloses
      tags:
        - Closes
      summary: Get a list of closes
      security:
        - OAuth2:
            - public
      parameters:
        - name: sort
          in: query
          description: |
            The sort field. Sorted by created_at desc, id desc by default.
            Must be one of: id, user_id, closer_id, reason, state, created_at, updated_at, kind, end_at, jid.
          required: false
          schema:
            type: string
            enum:
              - id
              - user_id
              - closer_id
              - reason
              - state
              - created_at
              - updated_at
              - kind
              - end_at
              - jid
        - name: filter
          in: query
          description: |
            Filtering on one or more fields. Must be one of: id, user_id, closer_id, reason, state, created_at, updated_at, kind, end_at, jid, campus_id, end.
          required: false
          schema:
            type: object
            additionalProperties:
              type: string
          style: deepObject
          explode: true
        - name: range
          in: query
          description: |
            Select on a particular range. Must be one of: id, user_id, closer_id, reason, state, created_at, updated_at, kind, end_at, jid.
          required: false
          schema:
            type: object
            additionalProperties:
              type: string
          style: deepObject
          explode: true
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per_page'
        - $ref: '#/components/parameters/page_number'
        - $ref: '#/components/parameters/page_size'
      responses:
        '200':
          description: A list of closes
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CloseResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /users/{user_id}/closes:
    get:
      operationId: getClosesByUserId
      tags:
        - Closes
      summary: Get a list of closes by user id
      security:
        - OAuth2:
            - public
      parameters:
        - name: user_id
          in: path
          required: true
          description: The user id
          schema:
            type: integer
        - name: sort
          in: query
          description: |
            The sort field. Sorted by created_at desc, id desc by default.
            Must be one of: id, user_id, closer_id, reason, state, created_at, updated_at, kind, end_at, jid.
          required: false
          schema:
            type: string
            enum:
              - id
              - user_id
              - closer_id
              - reason
              - state
              - created_at
              - updated_at
              - kind
              - end_at
              - jid
        - name: filter
          in: query
          description: |
            Filtering on one or more fields. Must be one of: id, user_id, closer_id, reason, state, created_at, updated_at, kind, end_at, jid, campus_id, end.
          required: false
          schema:
            type: object
            additionalProperties:
              type: string
          style: deepObject
          explode: true
        - name: range
          in: query
          description: |
            Select on a particular range. Must be one of: id, user_id, closer_id, reason, state, created_at, updated_at, kind, end_at, jid.
          required: false
          schema:
            type: object
            additionalProperties:
              type: string
          style: deepObject
          explode: true
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per_page'
        - $ref: '#/components/parameters/page_number'
        - $ref: '#/components/parameters/page_size'
      responses:
        '200':
          description: A list of closes
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CloseResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /closes/{id}:
    get:
      operationId: getCloseById
      tags:
        - Closes
      summary: Get a close by ID
      security:
        - OAuth2:
            - public
      parameters:
        - name: id
          in: path
          required: true
          description: The ID of the close
          schema:
            type: integer
      responses:
        '200':
          description: A close object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloseResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /internships:
    get:
      operationId: getInternships
      tags:
        - Internships
      summary: Get a list of internships
      security:
        - OAuth2:
            - public
      parameters:
        - name: sort
          in: query
          description: |
            The sort field. Sorted by id desc by default.
            Must be one of: id, user_id, administration_id, offer_id, language_id, state, days, user_address, user_postal, user_city, user_country, company_name, company_boss_user_first_name, company_boss_user_last_name, company_boss_user_email, company_boss_user_phone, company_user_first_name, company_user_last_name, company_user_post, company_user_email, company_user_phone, company_address, company_postal, company_city, company_country, company_siret, internship_address, internship_postal, internship_city, internship_country, contract_type, subject, start_at, end_at, duration, nb_days, nb_hours, movement, salary, currency, breach_at, convention, created_at, updated_at, anti_grav_units_user_id.
            Example: -updated_at,anti_grav_units_user_id (to sort by updated_at descending and anti_grav_units_user_id ascending)
          required: false
          schema:
            type: string
        - name: filter
          in: query
          description: |
            Filtering on one or more fields.
            Must be one of: id, user_id, administration_id, offer_id, language_id, state, days, user_address, user_postal, user_city, user_country, company_name, company_boss_user_first_name, company_boss_user_last_name, company_boss_user_email, company_boss_user_phone, company_user_first_name, company_user_last_name, company_user_post, company_user_email, company_user_phone, company_address, company_postal, company_city, company_country, company_siret, internship_address, internship_postal, internship_city, internship_country, contract_type, subject, start_at, end_at, duration, nb_days, nb_hours, movement, salary, currency, breach_at, convention, created_at, updated_at, anti_grav_units_user_id.
            Example: filter[id]=a_value,another_value (to filter on internships with id matching a_value or another_value)
          required: false
          schema:
            type: object
            additionalProperties:
              type: string
          style: deepObject
          explode: true
        - name: range
          in: query
          description: |
            Select on a particular range.
            Must be one of: id, user_id, administration_id, offer_id, language_id, state, days, user_address, user_postal, user_city, user_country, company_name, company_boss_user_first_name, company_boss_user_last_name, company_boss_user_email, company_boss_user_phone, company_user_first_name, company_user_last_name, company_user_post, company_user_email, company_user_phone, company_address, company_postal, company_city, company_country, company_siret, internship_address, internship_postal, internship_city, internship_country, contract_type, subject, start_at, end_at, duration, nb_days, nb_hours, movement, salary, currency, breach_at, convention, created_at, updated_at.
            Example: range[status]=min_value,max_value (to range on internships with status field between min_value and max_value)
          required: false
          schema:
            type: object
            additionalProperties:
              type: string
          style: deepObject
          explode: true
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per_page'
        - $ref: '#/components/parameters/page_number'
        - $ref: '#/components/parameters/page_size'
      responses:
        '200':
          description: A list of internships
          headers:
            Link:
              $ref: '#/components/headers/Link'
            X-Page:
              $ref: '#/components/headers/X-Page'
            X-Per-Page:
              $ref: '#/components/headers/X-Per-Page'
            X-Total:
              $ref: '#/components/headers/X-Total'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/InternshipResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /languages/{id}:
    get:
      operationId: getLanguageById
      tags:
        - Languages
      summary: Get a language by ID
      security:
        - OAuth2:
            - public
      parameters:
        - name: id
          in: path
          required: true
          description: The ID of the language
          schema:
            type: integer
      responses:
        '200':
          description: A language object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LanguageResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /users/{user_id}/projects_users:
    get:
      operationId: GetProjectsUsersByUserId
      tags:
        - Projects Users
      summary: Get a list of projects users by a user Id
      security:
        - OAuth2:
            - public
      parameters:
        - name: user_id
          in: path
          required: true
          description: The ID of the user
          schema:
            type: string
        - name: filter
          in: query
          description: |
            Filtering on one or more fields.
            Must be one of: id, login, email, created_at, updated_at, pool_year, pool_month, kind, status, primary_campus_id, first_name, last_name, alumni?, staff?.
            Example: filter[id]=a_value,another_value (to filter on users with id matching a_value or another_value)
          required: false
          schema:
            type: object
            additionalProperties:
              type: string
          style: deepObject
          explode: true
        - name: range
          in: query
          description: |
            Select on a particular range.
            Must be one of: id, login, email, created_at, updated_at, pool_year, pool_month, kind, status.
            Example: range[status]=min_value,max_value (to range on users with status field between min_value and max_value)
          required: false
          schema:
            type: object
            additionalProperties:
              type: string
          style: deepObject
          explode: true
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per_page'
        - $ref: '#/components/parameters/page_number'
        - $ref: '#/components/parameters/page_size'
      responses:
        '200':
          description: A list of projects users
          headers:
            Link:
              $ref: '#/components/headers/Link'
            X-Page:
              $ref: '#/components/headers/X-Page'
            X-Per-Page:
              $ref: '#/components/headers/X-Per-Page'
            X-Total:
              $ref: '#/components/headers/X-Total'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProjectUserResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /projects_users:
    post:
      operationId: PostProjectsUsers
      tags:
        - Projects Users
      summary: Create a project user
      security:
        - OAuth2:
            - public
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - projects_user
              properties:
                projects_user:
                  $ref: '#/components/schemas/ProjectUserCreate'
            example:
              projects_user:
                project_id: 1
                user_id: 1
      responses:
        '201':
          description: Project user created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectUserResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /projects_users/{id}:
    patch:
      operationId: PatchProjectUserById
      tags:
        - Projects Users
      summary: Update a project user
      security:
        - OAuth2:
            - public
      parameters:
        - name: id
          in: path
          required: true
          description: The ID of the project user
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - projects_user
              properties:
                projects_user:
                  $ref: '#/components/schemas/ProjectUserUpdate'
            example:
              projects_user:
                project_id: 1
                user_id: 1
      responses:
        '204':
          description: Project user updated successfully
        '400':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
    put:
      operationId: PutProjectUserById
      tags:
        - Projects Users
      summary: Update a project user
      security:
        - OAuth2:
            - public
      parameters:
        - name: id
          in: path
          required: true
          description: The ID of the project user
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - projects_user
              properties:
                projects_user:
                  $ref: '#/components/schemas/ProjectUserUpdate'
            example:
              projects_user:
                project_id: 1
                user_id: 1
      responses:
        '204':
          description: Project user updated successfully
        default:
          $ref: '#/components/responses/ErrorResponse'
  /teams/{id}:
    get:
      operationId: getTeamById
      tags:
        - Teams
      summary: Get a team by ID
      security:
        - OAuth2:
            - public
      parameters:
        - name: id
          in: path
          required: true
          description: The ID of the team
          schema:
            type: integer
      responses:
        '200':
          description: A team object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
    patch:
      operationId: PatchTeamById
      tags:
        - Teams
      summary: Patch a team by ID
      security:
        - OAuth2:
            - public
      parameters:
        - name: id
          in: path
          required: true
          description: The ID of the team
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - team
              properties:
                team:
                  $ref: '#/components/schemas/TeamUpdate'
            example:
              team:
                project_id: 5
      responses:
        '204':
          description: Team has been patched
        default:
          $ref: '#/components/responses/ErrorResponse'
    put:
      operationId: PutTeamById
      tags:
        - Teams
      summary: Update a team by ID
      security:
        - OAuth2:
            - public
      parameters:
        - name: id
          in: path
          required: true
          description: The ID of the team
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - team
              properties:
                team:
                  $ref: '#/components/schemas/TeamUpdate'
            example:
              team:
                project_id: 5
      responses:
        '204':
          description: Team has been updated
        default:
          $ref: '#/components/responses/ErrorResponse'
  /teams/{id}/reset_team_uploads:
    post:
      operationId: PostResetTeamUploadsById
      tags:
        - Teams
      summary: Reset team uploads by ID
      security:
        - OAuth2:
            - public
      parameters:
        - name: id
          in: path
          required: true
          description: The ID of the team
          schema:
            type: string
      responses:
        '201':
          description: Team Uploads as been reset
        default:
          $ref: '#/components/responses/ErrorResponse'
  /users/{id}/user_candidature:
    get:
      operationId: getUserCandidatureById
      tags:
        - User Candidatures
      summary: Get user candidature information
      security:
        - OAuth2:
            - public
      parameters:
        - name: id
          in: path
          required: true
          description: The ID of the user
          schema:
            type: string
      responses:
        '200':
          description: User candidature information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserCandidatureResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /users:
    get:
      operationId: getUsers
      tags:
        - Users
      summary: Get a list of users
      security:
        - OAuth2:
            - public
      parameters:
        - name: sort
          in: query
          description: |
            The sort field. Sorted by id desc by default.
            Must be one of: id, login, email, encrypted_password, reset_password_token, reset_password_sent_at, created_at, updated_at, image, first_name, last_name, pool_year, pool_month, kind, status, otp_secret_key, otp_tmp, otp_activated, otp_backup_passwords, slack_team, slack_login, slack_mail, slack_code_validation, slack_validated_at, token_id, email_stop, linked_user_id, usual_first_name, last_seen_at, password_changed_at, encrypted_single_usage_password, first_warn_anon_sent_at, second_warn_anon_sent_at, alumnized_at, anonymized_at.
            Example: -alumnized_at,anonymized_at (to sort on alumnized_at descending and anonymized_at ascending)
          required: false
          schema:
            type: string
        - name: filter
          in: query
          description: |
            Filtering on one or more fields.
            Must be one of: id, login, email, created_at, updated_at, pool_year, pool_month, kind, status, primary_campus_id, first_name, last_name, alumni?, staff?.
            Example: filter[id]=a_value,another_value (to filter on users with id matching a_value or another_value)
          required: false
          schema:
            type: object
            additionalProperties:
              type: string
          style: deepObject
          explode: true
        - name: range
          in: query
          description: |
            Select on a particular range.
            Must be one of: id, login, email, created_at, updated_at, pool_year, pool_month, kind, status.
            Example: range[status]=min_value,max_value (to range on users with status field between min_value and max_value)
          required: false
          schema:
            type: object
            additionalProperties:
              type: string
          style: deepObject
          explode: true
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per_page'
        - $ref: '#/components/parameters/page_number'
        - $ref: '#/components/parameters/page_size'
      responses:
        '200':
          description: A list of users
          headers:
            Link:
              $ref: '#/components/headers/Link'
            X-Page:
              $ref: '#/components/headers/X-Page'
            X-Per-Page:
              $ref: '#/components/headers/X-Per-Page'
            X-Total:
              $ref: '#/components/headers/X-Total'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LightUserResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /users/{id}:
    get:
      operationId: getUserById
      tags:
        - Users
      summary: Get a user by ID
      security:
        - OAuth2:
            - public
      parameters:
        - name: id
          in: path
          required: true
          description: The ID of the user
          schema:
            type: string
      responses:
        '200':
          description: A user object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
components:
  schemas:
    AchievementResponse:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        description:
          type: string
        tier:
          type: string
        kind:
          type: string
        visible:
          type: boolean
        image:
          type: string
        nbr_of_success:
          type:
            - integer
            - 'null'
        users_url:
          type: string
          format: uri
      required:
        - id
        - name
        - description
        - tier
        - kind
        - visible
        - image
        - users_url
    CampusResponse:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        time_zone:
          type: string
        language:
          $ref: '#/components/schemas/LanguageResponse'
        users_count:
          type: integer
        vogsphere_id:
          type: integer
        country:
          type: string
        address:
          type: string
        zip:
          type: string
        city:
          type: string
        website:
          type: string
          format: uri
        facebook:
          type: string
          format: uri
        twitter:
          type: string
          format: uri
        active:
          type: boolean
        public:
          type: boolean
        email_extension:
          type: string
        default_hidden_phone:
          type: boolean
      required:
        - id
        - name
        - time_zone
        - users_count
        - vogsphere_id
        - country
        - city
        - active
        - public
        - email_extension
    CampusUserResponse:
      type: object
      properties:
        id:
          type: integer
        user_id:
          type: integer
        campus_id:
          type: integer
        is_primary:
          type: boolean
        created_at:
          type: string
          format: date-time
          x-go-type: IntraTime
        updated_at:
          type: string
          format: date-time
          x-go-type: IntraTime
      required:
        - id
        - user_id
        - campus_id
        - is_primary
        - created_at
        - updated_at
    CloseResponse:
      type: object
      properties:
        id:
          type: integer
        reason:
          type: string
        state:
          type: string
        created_at:
          type: string
          format: date-time
          x-go-type: IntraTime
        updated_at:
          type: string
          format: date-time
          x-go-type: IntraTime
        end_at:
          type:
            - string
            - 'null'
          format: date-time
          x-go-type: IntraTime
        community_services:
          type: array
          items:
            $ref: '#/components/schemas/CommunityServiceResponse'
        kind:
          type: string
          enum:
            - agu
            - other
            - deserter
            - pace_unknown
            - black_hole
            - serious_misconduct
            - social_security
            - non_admitted
        user:
          $ref: '#/components/schemas/LightUserResponse'
        closer:
          $ref: '#/components/schemas/LightUserResponse'
      required:
        - id
        - reason
        - state
        - created_at
        - updated_at
        - community_services
        - user
        - closer
        - kind
    CommunityServiceResponse:
      type: object
      properties:
        id:
          type: integer
        duration:
          type: integer
        schedule_at:
          type: string
          format: date-time
          x-go-type: IntraTime
        occupation:
          type: string
        state:
          type: string
        created_at:
          type: string
          format: date-time
          x-go-type: IntraTime
        updated_at:
          type: string
      required:
        - id
        - duration
        - schedule_at
        - occupation
        - state
        - created_at
        - updated_at
    CursusResponse:
      type: object
      properties:
        id:
          type: integer
        created_at:
          type: string
          format: date-time
          x-go-type: IntraTime
        name:
          type: string
        slug:
          type: string
        kind:
          type: string
      required:
        - id
        - created_at
        - name
        - slug
        - kind
    CursusUserResponse:
      type: object
      properties:
        id:
          type: integer
        begin_at:
          type: string
          format: date-time
          x-go-type: IntraTime
        end_at:
          type: string
          format: date-time
          x-go-type: IntraTime
        grade:
          type: string
        level:
          type: number
          format: double
        skills:
          type: array
          items:
            $ref: '#/components/schemas/SkillResponse'
        cursus_id:
          type: integer
        cursus:
          $ref: '#/components/schemas/CursusResponse'
        has_coalition:
          type: boolean
        blackholed_at:
          type:
            - string
            - 'null'
          format: date-time
          x-go-type: IntraTime
        created_at:
          type: string
          format: date-time
          x-go-type: IntraTime
        updated_at:
          type: string
          format: date-time
          x-go-type: IntraTime
      required:
        - id
        - begin_at
        - grade
        - level
        - cursus_id
        - cursus
        - has_coalition
        - created_at
        - updated_at
        - skills
    Error:
      type: object
      properties:
        status:
          type: integer
          description: HTTP status code
        error:
          type: string
          description: Error message
      required:
        - status
        - error
      example:
        status: 401
        error: The access token is invalid
    GroupResponse:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
      required:
        - id
        - name
    InternshipResponse:
      type: object
      properties:
        id:
          type: integer
        administration_id:
          type: integer
        offer_id:
          type:
            - integer
            - 'null'
        language_id:
          type: integer
        state:
          type: string
        days:
          type: string
        user_address:
          type: string
        user_postal:
          type: string
        user_city:
          type: string
        user_country:
          type: string
        company_name:
          type: string
        company_boss_user_first_name:
          type: string
        company_boss_user_last_name:
          type: string
        company_boss_user_email:
          type: string
        company_boss_user_phone:
          type: string
        company_user_first_name:
          type: string
        company_user_last_name:
          type: string
        company_user_post:
          type: string
        company_user_email:
          type: string
        company_user_phone:
          type: string
        company_address:
          type: string
        company_postal:
          type: string
        company_city:
          type: string
        company_country:
          type: string
        company_siret:
          type: string
        internship_address:
          type: string
        internship_postal:
          type: string
        internship_city:
          type: string
        internship_country:
          type: string
        contract_type:
          type: string
        subject:
          type: string
        start_at:
          type: string
          format: date-time
        end_at:
          type: string
          format: date-time
        duration:
          type: integer
        nb_days:
          type: integer
        nb_hours:
          type: integer
        salary:
          anyOf:
            - type: integer
            - type: number
        currency:
          type: string
        breach_at:
          type:
            - string
            - 'null'
          format: date-time
        convention:
          type: object
          properties:
            convention:
              type: object
              properties:
                url:
                  type:
                    - string
                    - 'null'
              required:
                - url
          required:
            - convention
        convention_uri:
          type:
            - string
            - 'null'
          format: url
        projects_user:
          type:
            - integer
            - 'null'
        user:
          $ref: '#/components/schemas/LightUserResponse'
      required:
        - id
        - administration_id
        - offer_id
        - language_id
        - state
        - days
        - user_address
        - user_postal
        - user_city
        - user_country
        - company_name
        - company_boss_user_first_name
        - company_boss_user_last_name
        - company_boss_user_email
        - company_boss_user_phone
        - company_user_first_name
        - company_user_last_name
        - company_user_post
        - company_user_email
        - company_user_phone
        - company_address
        - company_postal
        - company_city
        - company_country
        - company_siret
        - internship_address
        - internship_postal
        - internship_city
        - internship_country
        - contract_type
        - subject
        - start_at
        - end_at
        - duration
        - nb_days
        - nb_hours
        - salary
        - currency
        - breach_at
        - convention
        - convention_uri
        - user
    LanguageResponse:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        identifier:
          type: string
        created_at:
          type: string
          format: date-time
          x-go-type: IntraTime
        updated_at:
          type: string
          format: date-time
          x-go-type: IntraTime
      required:
        - id
        - name
        - identifier
        - created_at
        - updated_at
    LanguageUserResponse:
      type: object
      properties:
        id:
          type: integer
        language_id:
          type: integer
        user_id:
          type: integer
        position:
          type: integer
        created_at:
          type: string
          format: date-time
          x-go-type: IntraTime
      required:
        - id
        - language_id
        - user_id
        - position
        - created_at
    PatronageResponse:
      type: object
      properties:
        id:
          type: integer
        user_id:
          type: integer
        godson_id:
          type: integer
        godfather_id:
          type: integer
        ongoing:
          type: boolean
        created_at:
          type: string
          format: date-time
          x-go-type: IntraTime
        updated_at:
          type: string
          format: date-time
          x-go-type: IntraTime
      required:
        - id
        - ongoing
        - created_at
        - updated_at
    LightProjectResponse:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        slug:
          type: string
        parent_id:
          type:
            - integer
            - 'null'
      required:
        - id
        - name
        - slug
        - parent_id
    ProjectUserResponse:
      type: object
      properties:
        id:
          type: integer
        occurrence:
          type: integer
        final_mark:
          type:
            - integer
            - 'null'
        status:
          type: string
        validated?:
          type:
            - boolean
            - 'null'
        current_team_id:
          type: integer
        project:
          $ref: '#/components/schemas/LightProjectResponse'
        cursus_ids:
          type: array
          items:
            type: integer
        user:
          $ref: '#/components/schemas/LightUserResponse'
        teams:
          type: array
          items:
            $ref: '#/components/schemas/LightTeamResponse'
        marked_at:
          type:
            - string
            - 'null'
          format: date-time
          x-go-type: IntraTime
        marked:
          type:
            - boolean
            - 'null'
        retriable_at:
          type:
            - string
            - 'null'
          format: date-time
          x-go-type: IntraTime
        created_at:
          type: string
          format: date-time
          x-go-type: IntraTime
        updated_at:
          type: string
          format: date-time
          x-go-type: IntraTime
      required:
        - id
        - occurrence
        - status
        - validated?
        - current_team_id
        - project
        - cursus_ids
        - user
        - teams
    ProjectUserCreate:
      type: object
      required:
        - project_id
        - user_id
      properties:
        id:
          type:
            - integer
            - 'null'
          format: int64
          description: The id.
        project_id:
          type: integer
          format: int64
          description: The project id.
        user_id:
          type: integer
          format: int64
          description: The user id. Must be unique in the scope of a given project.
        created_at:
          type:
            - string
            - 'null'
          format: date-time
          x-go-type: IntraTime
        updated_at:
          type:
            - string
            - 'null'
          format: date-time
          x-go-type: IntraTime
        occurrence:
          type:
            - integer
            - 'null'
          format: int64
          default: 0
          description: The occurrence.
        final_mark:
          type:
            - integer
            - 'null'
          format: int64
          description: The final mark.
        retriable_at:
          type:
            - string
            - 'null'
          format: date-time
          x-go-type: IntraTime
        marked_at:
          type:
            - string
            - 'null'
          format: date-time
          x-go-type: IntraTime
        status:
          type:
            - string
            - 'null'
          default: unknown
          description: The status.
        skip_check_permission:
          type:
            - string
            - 'null'
          description: The skip check permission.
    ProjectUserUpdate:
      type: object
      properties:
        id:
          type:
            - integer
            - 'null'
          format: int64
          description: The id.
        project_id:
          type:
            - integer
            - 'null'
          format: int64
          description: The project id.
        user_id:
          type:
            - integer
            - 'null'
          format: int64
          description: The user id. Must be unique in the scope of a given project.
        created_at:
          type:
            - string
            - 'null'
          format: date-time
          x-go-type: IntraTime
          description: The created at.
        updated_at:
          type:
            - string
            - 'null'
          format: date-time
          x-go-type: IntraTime
          description: The updated at.
        occurrence:
          type:
            - integer
            - 'null'
          format: int64
          default: 0
          description: The occurrence. Default to 0.
        final_mark:
          type:
            - integer
            - 'null'
          format: int64
          description: The final mark.
        retriable_at:
          type:
            - string
            - 'null'
          format: date-time
          x-go-type: IntraTime
          description: The retriable at.
        marked_at:
          type:
            - string
            - 'null'
          format: date-time
          x-go-type: IntraTime
          description: The marked at.
        status:
          type:
            - string
            - 'null'
          default: unknown
          description: The status. Default to unknown.
        skip_check_permission:
          type:
            - string
            - 'null'
          description: The skip check permission.
    RoleResponse:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
      required:
        - id
        - name
    ScaleTeamResponse:
      type: object
      properties:
        id:
          type: integer
        scale_id:
          type: integer
        comment:
          type: string
        created_at:
          type: string
          format: date-time
          x-go-type: IntraTime
        updated_at:
          type: string
          format: date-time
          x-go-type: IntraTime
        feedback:
          type: string
        final_mark:
          type:
            - integer
            - 'null'
        flag:
          $ref: '#/components/schemas/ScaleFlagResponse'
        begin_at:
          type: string
          format: date-time
          x-go-type: IntraTime
        correcteds:
          type: array
          items:
            $ref: '#/components/schemas/ScaleUserResponse'
        corrector:
          $ref: '#/components/schemas/ScaleUserResponse'
        truant:
          type: object
          additionalProperties: true
        filled_at:
          type:
            - string
            - 'null'
          format: date-time
          x-go-type: IntraTime
        questions_with_answers:
          type: array
          items:
            $ref: '#/components/schemas/QuestionWithAnswersResponse'
        teams_uploads:
          type: array
          items:
            $ref: '#/components/schemas/TeamUploadResponse'
      required:
        - id
        - scale_id
        - comment
        - created_at
        - updated_at
        - feedback
        - final_mark
        - flag
        - begin_at
        - correcteds
        - corrector
        - truant
        - filled_at
        - questions_with_answers
    ScaleFlagResponse:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        positive:
          type: boolean
        icon:
          type: string
        created_at:
          type: string
          format: date-time
          x-go-type: IntraTime
        updated_at:
          type: string
          format: date-time
          x-go-type: IntraTime
      required:
        - id
        - name
        - positive
        - icon
        - created_at
        - updated_at
    ScaleUserResponse:
      type: object
      properties:
        id:
          type: integer
        login:
          type: string
        url:
          type: string
          format: uri
      required:
        - id
        - login
        - url
    QuestionWithAnswersResponse:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        guidelines:
          type: string
        rating:
          type: string
        kind:
          type: string
        position:
          type: integer
        answers:
          type: array
          items:
            $ref: '#/components/schemas/QuestionAnswerResponse'
      required:
        - id
        - name
        - guidelines
        - rating
        - kind
        - position
        - answers
    QuestionAnswerResponse:
      type: object
      properties:
        id:
          type: integer
        value:
          type:
            - integer
            - 'null'
        answer:
          type:
            - string
            - 'null'
      required:
        - id
        - value
        - answer
    TeamUploadResponse:
      type: object
      properties:
        id:
          type: integer
        final_mark:
          type:
            - integer
            - 'null'
        comment:
          type: string
        created_at:
          type: string
          format: date-time
          x-go-type: IntraTime
        upload_id:
          type: integer
      required:
        - id
        - final_mark
        - comment
        - created_at
        - upload_id
    SkillResponse:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        level:
          type: number
          format: double
      required:
        - id
        - name
        - level
    LightTeamResponse:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        url:
          type: string
          format: uri
        final_mark:
          type:
            - integer
            - 'null'
        project_id:
          type: integer
        created_at:
          type: string
          format: date-time
          x-go-type: IntraTime
        updated_at:
          type: string
          format: date-time
          x-go-type: IntraTime
        status:
          type: string
        terminating_at:
          type:
            - string
            - 'null'
          format: date-time
          x-go-type: IntraTime
        users:
          type: array
          items:
            $ref: '#/components/schemas/TeamUserResponse'
        locked?:
          type: boolean
        validated?:
          type: boolean
        closed?:
          type: boolean
        repo_url:
          type:
            - string
            - 'null'
        repo_uuid:
          type: string
        locked_at:
          type:
            - string
            - 'null'
          format: date-time
          x-go-type: IntraTime
        closed_at:
          type:
            - string
            - 'null'
          format: date-time
          x-go-type: IntraTime
        project_session_id:
          type: integer
        project_gitlab_path:
          type:
            - string
            - 'null'
      required:
        - id
        - name
        - url
        - project_id
        - created_at
        - updated_at
        - status
        - terminating_at
        - users
        - locked?
        - validated?
        - closed?
        - repo_url
        - repo_uuid
        - locked_at
        - closed_at
        - project_session_id
        - project_gitlab_path
    TeamUserResponse:
      type: object
      properties:
        id:
          type: integer
        login:
          type: string
        url:
          type: string
          format: uri
        leader:
          type: boolean
        occurrence:
          type: integer
        validated:
          type: boolean
        projects_user_id:
          type: integer
      required:
        - id
        - login
        - url
        - leader
        - occurrence
        - validated
        - projects_user_id
    TeamResponse:
      allOf:
        - $ref: '#/components/schemas/LightTeamResponse'
        - type: object
          properties:
            scale_teams:
              type: array
              items:
                $ref: '#/components/schemas/ScaleTeamResponse'
          required:
            - scale_teams
      example:
        id: 1000001
        name: example-team
        url: https://api.example.com/v2/teams/1000001
        final_mark: 80
        project_id: 2000001
        created_at: '2024-01-10T10:00:00.000Z'
        updated_at: '2024-01-10T12:00:00.000Z'
        status: finished
        terminating_at: '2024-01-11T12:00:00.000Z'
        users:
          - id: 1000002
            login: example-user
            url: https://api.example.com/v2/users/example-user
            leader: true
            occurrence: 0
            validated: true
            projects_user_id: 3000001
        locked?: true
        validated?: true
        closed?: true
        repo_url: git@example.com:example/project.git
        repo_uuid: example-repository-uuid
        locked_at: '2024-01-10T10:00:00.000Z'
        closed_at: '2024-01-11T12:00:00.000Z'
        project_session_id: 4000001
        project_gitlab_path: example/project
        scale_teams:
          - id: 5000001
            scale_id: 6000001
            comment: Example evaluation comment.
            created_at: '2024-01-10T10:05:00.000Z'
            updated_at: '2024-01-10T11:00:00.000Z'
            feedback: Example feedback.
            final_mark: 75
            flag:
              id: 1
              name: Approved
              positive: true
              icon: check
              created_at: '2024-01-01T00:00:00.000Z'
              updated_at: '2024-01-01T00:00:00.000Z'
            begin_at: '2024-01-10T10:30:00.000Z'
            correcteds:
              - id: 1000002
                login: example-user
                url: https://api.example.com/v2/users/example-user
            corrector:
              id: 1000003
              login: evaluator
              url: https://api.example.com/v2/users/evaluator
            truant: {}
            filled_at: '2024-01-10T11:00:00.000Z'
            questions_with_answers: []
          - id: 5000002
            scale_id: 6000001
            comment: Another example evaluation comment.
            created_at: '2024-01-10T10:05:00.000Z'
            updated_at: '2024-01-10T11:05:00.000Z'
            feedback: Another example feedback.
            final_mark: 85
            flag:
              id: 1
              name: Approved
              positive: true
              icon: check
              created_at: '2024-01-01T00:00:00.000Z'
              updated_at: '2024-01-01T00:00:00.000Z'
            begin_at: '2024-01-10T11:00:00.000Z'
            correcteds:
              - id: 1000002
                login: example-user
                url: https://api.example.com/v2/users/example-user
            corrector:
              id: 1000004
              login: second-evaluator
              url: https://api.example.com/v2/users/second-evaluator
            truant: {}
            filled_at: '2024-01-10T11:05:00.000Z'
            questions_with_answers: []
    TeamUpdate:
      type: object
      properties:
        project_id:
          type:
            - integer
            - 'null'
          format: int64
          description: The project id.
        name:
          type:
            - string
            - 'null'
          maxLength: 255
          description: The name.
        created_at:
          type:
            - string
            - 'null'
          format: date-time
          x-go-type: IntraTime
        updated_at:
          type:
            - string
            - 'null'
          format: date-time
          x-go-type: IntraTime
        locked_at:
          type:
            - string
            - 'null'
          format: date-time
          x-go-type: IntraTime
        closed_at:
          type:
            - string
            - 'null'
          format: date-time
          x-go-type: IntraTime
        final_mark:
          type:
            - integer
            - 'null'
          format: int64
          description: The final mark.
        repo_url:
          type:
            - string
            - 'null'
          description: The repo url.
        repo_uuid:
          type:
            - string
            - 'null'
          description: The repo uuid.
        deadline_at:
          type:
            - integer
            - 'null'
          format: int64
          description: The deadline at. Must be after today.
        terminating_at:
          type:
            - string
            - 'null'
          format: date-time
          x-go-type: IntraTime
        project_session_id:
          type:
            - integer
            - 'null'
          format: int64
          description: The project session id.
        teams_users_attributes:
          type:
            - array
            - 'null'
          description: The teams users attributes.
          items:
            type: object
            required:
              - user_id
            properties:
              user_id:
                type: integer
                format: int64
                description: The user id. Must be unique in the scope of a given team.
              leader:
                type:
                  - boolean
                  - 'null'
                default: false
                description: Is it leader?
              validated:
                type:
                  - boolean
                  - 'null'
                default: false
                description: Is it validated?
              occurrence:
                type:
                  - integer
                  - 'null'
                format: int64
                default: 0
                description: The occurrence.
    TitleResponse:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
      required:
        - id
        - name
    TitleUserResponse:
      type: object
      properties:
        id:
          type: integer
        user_id:
          type: integer
        title_id:
          type: integer
        selected:
          type: boolean
        created_at:
          type: string
          format: date-time
          x-go-type: IntraTime
        updated_at:
          type: string
          format: date-time
          x-go-type: IntraTime
      required:
        - id
        - user_id
        - title_id
        - selected
        - created_at
        - updated_at
    UserResponse:
      allOf:
        - $ref: '#/components/schemas/LightUserResponse'
        - type: object
          properties:
            groups:
              type: array
              items:
                $ref: '#/components/schemas/GroupResponse'
            cursus_users:
              type: array
              items:
                $ref: '#/components/schemas/CursusUserResponse'
            projects_users:
              type: array
              items:
                $ref: '#/components/schemas/ProjectUserResponse'
            languages_users:
              type: array
              items:
                $ref: '#/components/schemas/LanguageUserResponse'
            achievements:
              type: array
              items:
                $ref: '#/components/schemas/AchievementResponse'
            titles:
              type: array
              items:
                $ref: '#/components/schemas/TitleResponse'
            titles_users:
              type: array
              items:
                $ref: '#/components/schemas/TitleUserResponse'
            patroned:
              type: array
              items:
                $ref: '#/components/schemas/PatronageResponse'
            patroning:
              type: array
              items:
                $ref: '#/components/schemas/PatronageResponse'
            roles:
              type: array
              items:
                $ref: '#/components/schemas/RoleResponse'
            campus:
              type: array
              items:
                $ref: '#/components/schemas/CampusResponse'
            campus_users:
              type: array
              items:
                $ref: '#/components/schemas/CampusUserResponse'
          required:
            - groups
            - cursus_users
            - projects_users
            - languages_users
            - achievements
            - titles
            - titles_users
            - patroned
            - patroning
            - roles
            - campus
            - campus_users
    LightUserResponse:
      type: object
      properties:
        id:
          type: integer
          description: The unique identifier of the user.
        login:
          type: string
          description: The login name of the user.
        first_name:
          type: string
          description: The first name of the user.
        usual_first_name:
          type:
            - string
            - 'null'
          description: The usual first name of the user, first_name if none.
        usual_full_name:
          type: string
          description: The usual full name of the user, usually usual_first_name or first_name + last_name.
        last_name:
          type: string
          description: The last name of the user.
        email:
          type: string
          description: The email address of the user.
          format: email
        url:
          type: string
          format: uri
          description: The URL to the user's resource.
        phone:
          type: string
          description: The phone number of the user (always hidden).
        displayname:
          type: string
          description: The display name of the user.
        kind:
          type: string
          description: The kind of user (e.g., student, admin, external).
          enum:
            - student
            - admin
            - external
        image:
          $ref: '#/components/schemas/UserImageResponse'
        staff?:
          type: boolean
          description: Indicates if the user is staff.
        correction_point:
          type: integer
          description: The user's correction points.
        pool_month:
          type: string
          description: The month of the user's pool.
        pool_year:
          type: string
          description: The year of the user's pool.
        location:
          type:
            - string
            - 'null'
          description: The location of the user.
        wallet:
          type: integer
          description: The user's wallet balance.
        anonymize_date:
          type:
            - string
            - 'null'
          format: date-time
          x-go-type: IntraTime
          description: The date when user data will be anonymized.
        data_erasure_date:
          type: string
          format: date-time
          x-go-type: IntraTime
          description: The date when user data will be erased.
        created_at:
          type: string
          format: date-time
          x-go-type: IntraTime
          description: The user creation timestamp.
        updated_at:
          type: string
          format: date-time
          x-go-type: IntraTime
          description: The last user update timestamp.
        alumnized_at:
          description: The date when the user became an alumnus.
          type: string
          format: date-time
          x-go-type: IntraTime
        alumni?:
          type: boolean
          description: Indicates if the user is an alumnus.
        active?:
          type: boolean
          description: Indicates if the user is active.
      required:
        - id
        - login
        - first_name
        - last_name
        - usual_full_name
        - email
        - url
        - displayname
        - kind
        - image
        - staff?
        - correction_point
        - pool_month
        - pool_year
        - wallet
        - anonymize_date
        - data_erasure_date
        - created_at
        - updated_at
        - alumnized_at
        - alumni?
        - active?
    UserImageResponse:
      type: object
      properties:
        link:
          type: string
          format: uri
          description: The URL to the user's image.
        versions:
          type: object
          properties:
            large:
              type: string
              format: uri
              description: URL to the large version of the user's image.
            medium:
              type: string
              format: uri
              description: URL to the medium version of the user's image.
            small:
              type: string
              format: uri
              description: URL to the small version of the user's image.
            micro:
              type: string
              format: uri
              description: URL to the micro version of the user's image.
          required:
            - large
            - medium
            - small
            - micro
      required:
        - link
        - versions
    UserCandidatureResponse:
      type: object
      properties:
        id:
          type: integer
        user_id:
          type: integer
        birth_date:
          type: string
          format: date
        gender:
          type:
            - string
            - 'null'
          enum:
            - male
            - female
            - other
        zip_code:
          type:
            - string
            - 'null'
        country:
          type:
            - string
            - 'null'
        birth_city:
          type: string
        birth_country:
          type:
            - string
            - 'null'
        postal_street:
          type: string
        postal_complement:
          type:
            - string
            - 'null'
        postal_city:
          type: string
        postal_zip_code:
          type: string
        postal_country:
          type: string
        contact_affiliation:
          type: string
        contact_last_name:
          type: string
        contact_first_name:
          type: string
        contact_phone1:
          type: string
        contact_phone2:
          type:
            - string
            - 'null'
        max_level_memory:
          type:
            - number
            - 'null'
          format: double
        max_level_logic:
          type:
            - number
            - 'null'
          format: double
        other_information:
          type:
            - string
            - 'null'
        language:
          type: string
        meeting_date:
          type:
            - string
            - 'null'
          format: date-time
          x-go-type: IntraTime
        piscine_date:
          type:
            - string
            - 'null'
          format: date-time
          x-go-type: IntraTime
        created_at:
          type: string
          format: date-time
          x-go-type: IntraTime
        updated_at:
          type: string
          format: date-time
          x-go-type: IntraTime
        phone:
          type: string
        email:
          type: string
        pin:
          type: string
        phone_country_code:
          type: string
        hidden_phone:
          type: boolean
      required:
        - id
        - user_id
        - birth_city
        - postal_street
        - postal_city
        - postal_zip_code
        - postal_country
        - contact_affiliation
        - contact_last_name
        - contact_first_name
        - contact_phone1
        - language
        - created_at
        - updated_at
        - phone
        - email
        - pin
        - phone_country_code
        - hidden_phone
      example:
        id: 42
        user_id: 42
        birth_date: '2013-01-01'
        gender: male
        zip_code: '75017'
        country: France
        birth_city: Paris
        birth_country: France
        postal_street: 96 boulevard Bessières
        postal_complement: null
        postal_city: Paris
        postal_zip_code: '75017'
        postal_country: France
        contact_affiliation: Parent
        contact_last_name: Moulinette
        contact_first_name: Norminette
        contact_phone1: '+33600000000'
        contact_phone2: null
        max_level_memory: null
        max_level_logic: null
        other_information: null
        language: fr
        meeting_date: '2020-08-27T07:31:49.431Z'
        piscine_date: null
        created_at: '2020-08-27T07:31:49.431Z'
        updated_at: '2025-07-10T16:16:34.238Z'
        phone: '+33600000000'
        email: tmatis@example.com
        pin: '7777'
        phone_country_code: FR
        hidden_phone: false
  parameters:
    page:
      name: page
      in: query
      description: |
        Page number (1-based). The 42 API paginates index endpoints and defaults to 30 items per page.
        You can also use the `per_page` parameter to set the page size (up to 100 for many endpoints).
      required: false
      schema:
        type: integer
        minimum: 1
    per_page:
      name: per_page
      in: query
      description: |
        Number of items per page. Maximum is generally 100 but some endpoints limit this for technical reasons.
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 100
    page_number:
      name: page[number]
      in: query
      description: |
        Alternate pagination style using `page[number]` (1-based page index). Can be used together with `page[size]`.
      required: false
      schema:
        type: integer
        minimum: 1
    page_size:
      name: page[size]
      in: query
      description: |
        Alternate pagination style to set the page size (maximum depends on endpoint, commonly up to 100).
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 100
  headers:
    Link:
      description: |
        RFC5988 Web Linking header containing `first`, `prev`, `next` and `last` links when available.
        Example: <https://api.intra.42.fr/v2/Users?page=2>; rel="next", <https://api.intra.42.fr/v2/Users?page=1>; rel="prev"
      schema:
        type: string
    X-Page:
      description: The current page number.
      schema:
        type: integer
    X-Per-Page:
      description: The current pagination length (items per page).
      schema:
        type: integer
    X-Total:
      description: The total number of pages available for the resource.
      schema:
        type: integer
  responses:
    ErrorResponse:
      description: Error response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    OAuth2:
      type: oauth2
      description: OAuth2 authentication using Bearer tokens.
      flows:
        clientCredentials:
          tokenUrl: https://api.intra.42.fr/oauth/token
          scopes:
            public: access the user public data
            projects: manage teams, slots and all projects related stuff
            profile: manage user data
            elearning: manage media related stuff
            tig: manage community services
            forum: manage topics and messages
        authorizationCode:
          authorizationUrl: https://api.intra.42.fr/oauth/authorize
          tokenUrl: https://api.intra.42.fr/oauth/token
          scopes:
            public: access the user public data
            projects: manage teams, slots and all projects related stuff
            profile: manage user data
            elearning: manage media related stuff
            tig: manage community services
            forum: manage topics and messages
