openapi: 3.1.2

info:
  title: Intra 42 API
  description: |
    This is the OpenAPI specification for the Intra 42 API v2.
  version: 1.0.0

servers:
  - url: https://api.intra.42.fr/v2
    description: Production
  - url: https://api.intra-staging.42.fr/v2
    description: Staging

components:
  schemas:
    $ref: "./schemas/_index.yaml"

  parameters:
    $ref: "./parameters/_index.yaml"

  headers:
    Link:
      description: |
        RFC5988 Web Linking header containing `first`, `prev`, `next` and `last` links when available.
        Example: <https://api.intra.42.fr/v2/Users?page=2>; rel="next", <https://api.intra.42.fr/v2/Users?page=1>; rel="prev"
      schema:
        type: string
    X-Page:
      description: The current page number.
      schema:
        type: integer
    X-Per-Page:
      description: The current pagination length (items per page).
      schema:
        type: integer
    X-Total:
      description: The total number of pages available for the resource.
      schema:
        type: integer

  responses:
    ErrorResponse:
      description: Error response
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

  securitySchemes:
    OAuth2:
      type: oauth2
      description: OAuth2 authentication using Bearer tokens.
      flows:
        clientCredentials:
          tokenUrl: https://api.intra.42.fr/oauth/token
          scopes:
            public: access the user public data
            projects: manage teams, slots and all projects related stuff
            profile: manage user data
            elearning: manage media related stuff
            tig: manage community services
            forum: manage topics and messages

        authorizationCode:
          authorizationUrl: https://api.intra.42.fr/oauth/authorize
          tokenUrl: https://api.intra.42.fr/oauth/token
          scopes:
            public: access the user public data
            projects: manage teams, slots and all projects related stuff
            profile: manage user data
            elearning: manage media related stuff
            tig: manage community services
            forum: manage topics and messages

paths:
  $ref: "./paths/_index.yaml"
